/* 8.0 Articles
----------------------------------*/

.postmaterial, #comments {
  padding-bottom: 100px;
}

.postmaterial {
  ul {
    list-style: square;
    margin-left: 3.25em;
  }
  li {
    padding-bottom: 0.375em;
  }
  a {
    color: $jhublue;
    font-family: 'Myriad W01 SmBd';
    text-decoration: none;
    &:hover .postmaterial a:visited {
      color: $jhublue;
      font-family: 'Myriad W01 SmBd';
      text-decoration: none;
    }
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 1.4em;
  }
}

p {
  &.author {
    font-family: $font-subhead-light, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: $black;
  }
  &.othercredits {
    font-family: $font-subhead-light, sans-serif;
    font-style: italic;
  }
}

.postmaterial img, .feature-copy img {
  margin: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  max-width: 55%;
}

.postmaterial img {
  &.floatleft, &.alignleft {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.feature-copy img {
  &.floatleft, &.alignleft {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.postmaterial img {
  &.floatright, &.alignright {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.feature-copy img {
  &.floatright, &.alignright {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.postmaterial img.fullbleed, .feature-copy img.fullbleed {
  max-width: 100%;
}

.postmaterial .gallery img {
  max-width: none;
}

.fullbleedcaption {
  margin-bottom: 50px;
}

.imageblockleft {
  float: left;
  width: 55%;
  background: #f5f4f1;
  margin-right: 1em;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
}

.imageblockright {
  float: right;
  width: 55%;
  background: #f5f4f1;
  margin-left: 1em;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
}

.imageblockfull {
  float: none;
  width: 95%;
  background: #f5f4f1;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  padding-bottom: 10px;
}

.imageblockrightsmall {
  float: right;
  width: 30%;
  background: #f5f4f1;
  margin-left: 1em;
  margin-bottom: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
}

.imageblockleft img, .imageblockright img, .imageblockrightsmall img, .imageblockfull img {
  max-width: 100%;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.imageblockleft p, .imageblockright p, .imageblockrightsmall p, .imageblockfull p {
  margin-bottom: 10px;
}

p {
  &.caption {
    font-size: 0.9em;
    line-height: 1.2em;
    padding-left: 10px;
    margin: 0;
  }
  &.quote {
    font-size: 0.75em;
    text-align: right;
    font-weight: bold;
    padding-left: 10px;
    margin: 0;
  }
  &.photocredit {
    float: right;
    font-size: 0.6em;
    font-style: italic;
    padding-right: 10px;
    margin: 0;
  }
}

.aside {
  margin: 10px auto;
  width: 70%;
  padding: 1em;
  background: #f5f4f1;
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
  h3 {
    font-size: 1.875em;
    margin-bottom: 1em;
  }
}

.explore {
  font-family: 'Myriad W01 SmBd Cnd', sans-serif;
  font-weight: 400;
  ul {
    margin-left: 1.1em;
  }
}

.wysiwyg-read-more-link {
  font-size: 11px;
  display: block;
  width: 80px;
  clear: both;
  margin: 0 0 18px;
  background: url('../images/fall11/arrowdown.gif') no-repeat 0px 0px;
  padding-left: 25px;
}

ul[data-clearing] li.gallery-item {
  float: left;
  margin-right: 10px;
  img {
    max-width: 100px;
  }
}

.books {
  margin-bottom: 40px;
  p {
    font-size: 14px;
  }
}