.slide-caption {
	h1 {
		color: #fff;
	}
	p {
		font-size: 16px;
	}
}

section.news {
    margin-bottom: 20px;
}

.home .spacer {
    width: 75%;
}
.news {
	h2 {
	color: $ksasblue;
	font-variant: small-caps;
	}
	.spacer {
		background: $ksasblue;
	}
}

.big-ideas, .bigideas {
	h2 {
	color: $green;
	font-variant: small-caps;
	}
	.spacer {
		background: $green;
	}
}

.bluejays {
    h2 {
    color: $jhublue;
    font-variant: small-caps;
    }
    .spacer {
        background: $jhublue;
    }
}

.alumni {
    h2 {
    color: $orange;
    font-variant: small-caps;
    }
    .spacer {
        background: $orange;
    }
}

.item {
    text-align: center;
	h5 {
    font-family: $font-header;
	}
	p {
		font-size: .9em;
		margin: -10px 0 20px 0;
		color: #6a6f73;
	}
}