.slide-caption {
	h1 {
		color: #fff;
	}
	p {
		font-size: 1.5rem;
		font-family: $font-header-mobile;
	}
}

section.news {
    margin-bottom: 20px;
}

.home .spacer {
    width: 100%;
    float: right;
    margin-top: 1rem;
}
.news {
	h2 {
	color: $ksasblue;
	font-family: $font-frontpage-header;
	}
	.spacer {
		background: $ksasblue;
	}
}

.big-ideas, .bigideas {
	h2 {
	color: $green;
	font-family: $font-frontpage-header;
	
	}
	.spacer {
		background: $green;
	}
}

.bluejays {
    h2 {
    color: $jhublue;
    font-family: $font-frontpage-header;
    }
    .spacer {
        background: $jhublue;
    }
}

.alumni {
    h2 {
    color: $orange;
    font-family: $font-frontpage-header;
    }
    .spacer {
        background: $orange;
    }
}

.item {
    text-align: center;
	h5 {
    font-family: $font-frontpage-header;
    letter-spacing: 1.1px;
	}
	p {
		font-size: .9em;
		margin: -10px 0 20px 0;
		color: #6a6f73;
		font-family: $font-subhead;
	}
}