/* 9.0 Pages
----------------------------------*/

body.category-exclusive .postmaterial {
  h5 {
    margin-top: 0;
    margin-bottom: 4px;
  }
  a {
    p, &:visited {
      color: #333;
      font-family: $font-stack;
    }
  }
}

.listing {
  margin-bottom: 15px;
}

#search-results ul {
  list-style: none;
}

.catarticle {
  width: 90%;
  float: left;
  padding: 15px;
  img {
    margin-right: 15px;
  }
  h5 {
    font-size: 1.25em;
    margin-bottom: 0;
  }
  a p {
    color: #333;
  }
}

.subtext p img, .catarticle p img, .featurelisting p img {
  display: none;
}

blockquote {
  font-family: $font-subhead;
  margin: 1.5em 0 1.5em;
  padding: 0 1em 0 2.5em;
  position: relative;
  border-left: none;
  &:before {
    color: $ksasblue;
    content: "\201C";
    font-size: 5em;
    position: absolute;
    left: 5px;
    top: 0.3em;
    line-height: 0.1em;
  }
  &:after {
    color: $ksasblue;
    content: "\201D";
    font-size: 5em;
    position: absolute;
    right: 3px;
    bottom: 0em;
    line-height: 0.1em;
  }
  cite {
    display: block;
    font-size: 1.1rem;
    color: $jhublue;
    font-weight: bold;
  }
  p {
    font-family: $font-subhead-italic;
  }
}

.listing p {
  font-size: 1rem;
}

ul.page-numbers {
  list-style: none;
  margin: 0;
}

.page-numbers:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

ul.page-numbers li {
  display: block;
  float: left;
  margin: 0 4px 4px 0;
  text-align: center;
}

.page-numbers {
  a, span {
    line-height: 1.6em;
    display: block;
    padding: .5em;
    line-height: 18px;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
  }
  a {
    span {
      padding: 0;
    }
    &:hover {
      color: #000;
      background: #f7f7f7;
      text-decoration: none;
    }
  }
  &.current {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
    &:hover {
      color: #000;
      background: #f7f7f7;
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.tell-me {
  h2 {
    margin-top: 40px;
    font-weight: 200;
    color: #333;
  }
  
  .tell-me-about-wrap {
    margin-top: 30px;
  }
  .centered-text {
    text-align: center;
  }

  .quote-marks {
  color: $jhublue;
  content: "\201C";
  font-size: 5em;
  position:absolute;
  left:5px;
  top: 0.3em;
  line-height: 0.1em;
  }

  .move-right {
    position: relative;
    text-align: right;
  }

  .quote {
    border-radius: 5px;
    p {
      font-weight: 300;
    }
  }
  .faculty-answer {
    margin-left: 25px;
    margin-bottom: 80px;
    .photo {
      background-color: #ccc;
      border-radius: 100px;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 15px;
    }
    p {
      position: relative;
      top: 5px;
      &:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
      }
      &:nth-child(3) {
        font-size: 14px;
        font-weight: 400;
        color: #777;
      }
    }
  }
}

