/* 8.0 Sidebar
----------------------------------*/

#sidebar {
    margin-top: 40px;
   h4 {
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 20px;
    }
  .spacer {
    height: 14px;
    width: 90px;
    margin: 4px 5px 0 5px;
  }
  h5 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 4px;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 0;
    color: #000;
  }
  img {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .Insights {
    color: #993366;
    h4 {
      color: #993366;
    }
    .spacer {
      background: #993366;
    }
  }
  .Alumni, .alumni {
    color: $purple;
    h4 {
      color: $purple;
    }
    .spacer {
      background:$purple;
    }
  }
  .News, .news {
    color: $ksasblue;
    h4 {
      color: $ksasblue;
    }
    .spacer {
      background: $ksasblue;
    }
  }
  .features {
    color: $red;
    h4 {
      color: $red;
    }
    .spacer {
      background: $red;
    }
  }
  .Research {
    color: #dbb003;
    h4 {
      color: #dbb003;
    }
    .spacer {
      background: #dbb003;
    }
  }
  .bigideas,.Big.Ideas, .big-ideas {
  color: $green;
   h4 {
      color: $green;
    }
    .spacer {
      background: $green;
    }
  }
  .students,.Students.Digest {
  color: $jhublue;
   h4 {
      color: $jhublue;
    }
    .spacer {
      background: $jhublue;
    }
  }
  .table h4 {
    color: #333;
  }
  .breadcrumbs {
    background: none;
    border-style: none;
    margin-left: -14px;
    margin-top: -25px;
      > li {
        font-size: 1rem;
        line-height: 1rem;
        text-transform: inherit;
        font-family: $font-subhead;
        float: inherit;
        color: $black;
          &:first-child:before {
          content: " ";
          margin: 0;
          }
          &:before {
            content: ">";
          }
          a {
             color: $ksassky;
             &:link, &:visited, &:hover, &:active {
              text-decoration: none;
             }
      }
  }
}
  .big-ideas {
    .breadcrumbs>* a {
      color: $green;
    }
  }
  .news {
    .breadcrumbs>* a {
      color: $ksasblue;
    }
  }
  .alumni {
    .breadcrumbs>* a {
      color: $purple;
    }
  }
  .students {
    .breadcrumbs>* a {
      color: $jhublue;
    }
  }  
}

.button {
  color: #fff !important;
}
.button.tiny{
    background-color: $ksassky;
    padding: 6px;
}
.news.button{
  background-color:$ksasblue;
}
.bigideas.button, .big-ideas.button {
  background-color:$green;
}
.students.button{
  background-color:$jhublue;
}
.alumni.button{
  background-color:$purple;
 
}
.features.button{
  background-color:$red;
}

#sidebar .table .spacer {
  background: #333;
}

#sidebar p img, .box span.caption img {
  display: none;
}

#disqus_thread {
  margin: 40px;
}

.also-in {
  .spacer {
    background: $ksassky;
    width: 50%;
    text-align: right;
  }
  h3 {
    color: $ksasblue;
    font-variant: small-caps;
  }
  .button-group {
    margin-left: 17px;
  }
}
