$jhublue: #002d72;       //students blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //bigdeas green
$purple: #24135f;     //purple
$red: #8a2a2b;        //features red
$orange: #ff6900;     //alumni orange
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		    //rust
$black: #2C2C33;     //black
$silver: #E5E2E0;    //silver
$ksasblue: #418fde;  //news skyblue
$ksassky: #68ace5;
$flagship_icon: flagship-icon; //flagship icon
$fa-font-path: "../fonts";

$font-stack: 'arnhem', Georgia, serif;
$font-stack-bold: 'arnhem-bold', Georgia, serif;
$font-header: 'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;
$font-subhead: 'gentona-book', 'Myriad W01 SmBd', Arial, sans-serif;
$font-subhead-italic: 'gentona-light-italic', 'Myriad W01 It', Arial, sans-serif;
$font-subhead-light: 'gentona-extra-light', 'Myriad W01 Regular', Arial, sans-serif;
$font-navigation: 'gentona-thin', 'Myriad W01 Regular', Arial, sans-serif;
$font-header-mobile: 'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;
$font-frontpage-header:'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;