$jhublue: #002d72;       //students blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //bigdeas green
$purple: #51284F;     //purple
$red: #8a2a2b;        //features red
$orange: #C75302;     //alumni orange
//$yellow: #cba052;     //yellow
$yellow: #90723B;
$rust: #6f2c3f;		    //rust
//$oldblue: #0072ce;
$oldblack: #2C2C33;     //black
$black: #31261D;
$silver: #E5E2E0;    //silver
$ksasblue: #0072ce;  //news skyblue
$ksassky: #0072ce;
$flagship_icon: flagship-icon; //flagship icon
$fa-font-path: "../fonts";

$font-stack: 'arnhem', Georgia, serif;
$font-stack-bold: 'arnhem-bold', Georgia, serif;
$font-header: 'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;
$font-subhead: 'gentona-book', 'Myriad W01 SmBd', Arial, sans-serif;
$font-subhead-italic: 'gentona-light-italic', 'Myriad W01 It', Arial, sans-serif;
$font-subhead-light: 'gentona-extra-light', 'Myriad W01 Regular', Arial, sans-serif;
$font-navigation: 'gentona-thin', 'Myriad W01 Regular', Arial, sans-serif;
$font-header-mobile: 'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;
$font-frontpage-header:'gentona-semibold', 'Myriad W01 SmBd Cnd', Arial, sans-serif;