$jhublue: #005eb8;       //bluejays blue
$aqua: #00ab8e;       //aqua
$green: #007a53;      //bigdeas green
$purple: #24135f;     //purple
$red: #8a2a2b;        //features red
$orange: #ff6900;     //alumni orange
$yellow: #cba052;     //yellow
$rust: #6f2c3f;		    //rust
$black: #2C2C33;     //black
$silver: #E5E2E0;    //silver
$ksasblue: #418fde;  //news skyblue
$ksassky: #68ace5;
$flagship_icon: flagship-icon; //flagship icon
$fa-font-path: "../fonts";

$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'quadon', Arial, sans-serif;
$font-subhead-book: 'gentona-book', Arial, sans-serif;
$font-subhead-light: 'gentona-extralight', Arial, sans-serif;
